@model Room
@{
    ViewData["Title"] = "Room";
}

<h2>Room</h2>
@using (Html.BeginForm("Update", "Room"))
{
    <input asp-for="Id" type="hidden" value="@Model.Id" />
    <label asp-for="Number" class="control-label">Number</label>
    <br />
    <input type="text" name="Number" class="form-control" value="@Model.Number" />
    <br />
    @Html.CheckBoxFor(x => Model.Is_occupied)
    <label asp-for="Is_occupied" class="control-label">Is Occupied</label>
    <br />
    @Html.CheckBoxFor(x => Model.Is_cleaned)
    <label asp-for="Is_cleaned" class="control-label">Is Cleaned</label>
    <br />


    <input type="submit" name"Submit" value="Update Room" class="btn btn-default" />


}

@Model.Id
@Model.Number
@Model.Is_occupied
@Model.Is_cleaned

